---
const { currentPage, item } = Astro.props;

const isCurrentPage = (item) => {
  if (!item.link) {
    return;
  }

  return currentPage === item.link;
};

const baseClasses =
  "block py-1 px-6 ml-1 transition-colors border-l text-slate-400";
---

{
  isCurrentPage(item) ? (
    <li
      class={baseClasses + " border-slate-500 bg-main-blue/20 text-slate-900"}
    >
      {item.text}
    </li>
  ) : (
    <a href={item.link}>
      <li
        class={
          baseClasses +
          " hover:border-slate-400 hover:bg-main-blue/5 hover:text-slate-900"
        }
      >
        {item.text}
      </li>
    </a>
  )
}
