@use './breakpoint.scss' as *;

/* カスタムフォントファミリーを登録し、ブラウザにその場所を知らせます。 */
@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.content {
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.4rem;
  }
  h1 {
    font-size: 22pt;
    font-weight: 400;
  }
  h2 {
    font-size: 17pt;
    font-weight: 500;
    background-color: theme("colors.slate.200");
    margin-left: -10px;
    padding-left: 10px;

    @include pc {
      margin-left: -20px;
      padding-left: 20px;
    }
  }
  h3 {
    font-size: 15pt;
    font-weight: 600;
  }
  h4 {
    font-size: 13pt;
  }
  p,
  ul,
  ol {
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
    color: theme("colors.slate.600");
  }
  ul {
    padding-left: 1.8em;

    > li {
      padding-left: .2rem; // ちょっと詰まってる感じがしたので調整
    }
  }
  ol {
    padding-left: 1.8em;

    > li {
      list-style-type: decimal;
      padding-left: .6rem; // ちょっと詰まってる感じがしたので調整
    }
    > li::marker {
      font-weight: bold;
    }
  }
  li {
    list-style: disc;

    // マークダウンでネストされた場合、ulもネストされるので調整
    & > ul {
      margin-top: 0rem;
    }
  }
  a {
    color: theme("colors.blue.600");

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  blockquote {
    position: relative;
    font-style: italic;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
    padding: .6rem .6rem .6rem 1.5rem;
    border-left: 0.3rem solid theme("colors.slate.400");
    color: theme("colors.slate.600");
    background-color: theme("colors.slate.200");

    > p {
      margin: 0;
    }

    ::before, ::after {
      position: absolute;
      content: "“";
      font-size: 1.5rem;
    }
    ::before {
      top: 0;
      left: 0.7rem;
    }
  }

  code {
    font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }

  table {
    margin: 2rem 0;

    th, td {
      padding: .3rem .6rem;
      border: 1px solid theme("colors.slate.400");
    }

    th {
      background-color: theme("colors.slate.200");
    }

    td {
      color: theme("colors.slate.600");
    }

    // テーブル内のリストのスタイルを調整
    ul {
      padding-left: 1rem;
  
      > li {
        padding-left: 0;
      }
    }
  }

  .overflow-table {
    table {
      margin: 0;
      width: max-content;
    }
  }
}
