---
const { displayedText, hoveredText } = Astro.props;
---

<span class="displayed-text relative cursor-help">
  {displayedText}
  <div
    class="hovered-text pointer-events-none absolute left-0 top-[100%] z-10 w-max max-w-sm -translate-x-1/3 whitespace-pre-line break-all rounded-lg bg-slate-200 px-4 py-2 text-slate-600 opacity-0 transition"
  >
    {hoveredText}
  </div>
</span>

<style>
  .displayed-text:hover .hovered-text,
  .hovered-text:hover {
    opacity: 1;
    pointer-events: auto;
  }
</style>
