---
import { SITE } from "../../config";
import SkipToContent from "./SkipToContent.astro";
---

<header
  class="border-b bg-slate-100 bg-opacity-80 p-3 text-slate-900 backdrop-blur-md"
>
  <SkipToContent />
  <nav
    title="Top Navigation"
    class="max-w-8xl mx-auto flex items-center justify-between px-4"
  >
    <div>
      <a class="flex gap-x-3 font-sans text-lg font-medium" href="/">
        <svg
          class="h-7"
          viewBox="0 0 256 256"
          preserveAspectRatio="xMidYMid meet"
        >
          <use xlink:href="/icons/kzk4043-logo.svg#horse"></use>
        </svg>
        <p>
          {SITE.title ?? "Documentation"}
        </p>
      </a>
    </div>
    <div class="flex gap-2">
      <!-- aタグがホバーされたときにsvgだけ色を変える -->
      <style>
        a:hover svg.orange {
          color: #ffa500;
        }
        a:hover svg.black {
          color: #000000;
        }
        a:hover svg.blue {
          color: #3ea8ff;
        }
      </style>
      <!-- <button onclick="toggleDarkMode()">theme</button> -->
      {
        (
          <a
            title="rss feed"
            class="rounded-full p-2 opacity-90 transition-colors hover:bg-blue-100 hover:opacity-100"
            href="/rss.xml"
          >
            <svg
              class="orange h-7 w-7 text-slate-500"
              width="256px"
              height="256px"
              viewBox="0 0 8 8"
              preserveAspectRatio="xMidYMid meet"
            >
              <use xlink:href="/icons/rss.svg#rss" />
            </svg>
          </a>
        )
      }
      {
        SITE.github && (
          <a
            title="Github"
            class="rounded-full p-2 opacity-80 transition-colors hover:bg-blue-100 hover:opacity-100"
            href={"https://github.com/" + SITE.github}
          >
            <svg
              class="black h-7 w-7 text-slate-500"
              width="256px"
              height="256px"
              viewBox="0 0 32 32"
              preserveAspectRatio="xMidYMid meet"
            >
              <use xlink:href="/icons/github.svg#github" />
            </svg>
          </a>
        )
      }
      {
        SITE.zenn && (
          <a
            title="zenn"
            class="rounded-full p-2 opacity-80 transition-colors hover:bg-blue-100 hover:opacity-100"
            href={"https://zenn.dev/" + SITE.zenn}
          >
            <svg
              class="blue h-7 w-7 text-slate-500"
              width="256px"
              height="256px"
              viewBox="0 0 24 24"
              preserveAspectRatio="xMidYMid meet"
            >
              <use xlink:href="/icons/zenn.svg#zenn" />
            </svg>
          </a>
        )
      }
    </div>
  </nav>
</header>

<script is:inline>
  // function toggleDarkMode() {
  // 	const body = document.body;
  // 	body.classList.toggle('dark');
  // 	console.log('dark mode toggled');
  // }
</script>
