---
import { SITE } from "../../config";
import SkipToContent from "./SkipToContent.astro";

const { currentPage } = Astro.props;
---

<header
  class="p-3 bg-slate-100 bg-opacity-80 backdrop-blur-md border-b text-slate-900"
>
  <SkipToContent />
  <nav
    title="Top Navigation"
    class="max-w-7xl mx-auto flex justify-between items-center px-4"
  >
    <div>
      <a class="font-sans text-lg font-medium flex gap-x-3" href="/">
        <svg
          class="h-7"
          viewBox="0 0 256 256"
          preserveAspectRatio="xMidYMid meet"
        >
          <use xlink:href="/icons/kzk4043-logo.svg#horse"></use>
        </svg>
        <p>
          {SITE.title ?? "Documentation"}
        </p>
      </a>
    </div>
    <div class="flex gap-2">
      <!-- <button onclick="toggleDarkMode()">theme</button> -->
      {
        (
          <a
            title="rss feed"
            class="opacity-90 hover:opacity-100 hover:bg-blue-100 p-2 rounded-full transition-colors"
            href="/rss.xml"
          >
            <img class="h-7" src="/icons/rss.svg" alt="rss feed logo" />
          </a>
        )
      }
      {
        SITE.github && (
          <a
            title="Github"
            class="opacity-80 hover:opacity-100 hover:bg-slate-200 p-2 rounded-full transition-colors"
            href={"https://github.com/" + SITE.github}
          >
            <img class="h-7" src="/icons/github.svg" alt="github logo" />
          </a>
        )
      }
      {
        SITE.zenn && (
          <a
            title="zenn"
            class="opacity-80 hover:opacity-100 hover:bg-slate-200 p-2 rounded-full transition-colors"
            href={"https://zenn.dev/" + SITE.zenn}
          >
            <img class="h-7" src="/icons/zenn.svg" alt="zenn logo" />
          </a>
        )
      }
    </div>
  </nav>
</header>

<script is:inline>
  // function toggleDarkMode() {
  // 	const body = document.body;
  // 	body.classList.toggle('dark');
  // 	console.log('dark mode toggled');
  // }
</script>
